
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: #f9f9f9;
  padding: 1rem;
}

.login-card {
  width: 100%;
  max-width: 400px;
}

.field {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
