<div class="card">
 <p-table [value]="commands" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="5">
      <ng-template #header>
        <tr>
          <th class="w-1/6">Reason</th>
          <th class="w-1/6">Comment</th>
          <th class="w-1/6">Status</th>
        </tr>
      </ng-template>

      <ng-template #body let-command>
        <tr>
          <td>{{ command.reason }}</td>
          <td>{{ command.comment }}</td>
          <td>
            <p-tag 
               [value]="command.statusName" 
               [rounded]="true" 
               [severity]="getStatusSeverity(command.statusName)">
            </p-tag>
          </td>
          <td>
                <p-button (onClick)="showDetails(command)" icon="pi pi-eye" />
          </td>

        </tr>
      </ng-template>
</p-table>

<div class="button-container">
  <button
    pButton
    type="button"
    icon="pi pi-plus"
    class="fab-button p-button-rounded p-button-success"
    (click)="goToCreatePage()"
  ></button>

 <p-dialog 
  header="Détails de la commande" 
  [(visible)]="dialogVisible" 
  [modal]="true" 
  [style]="{width: '600px'}" 
  [closable]="true"
>
  <div *ngIf="selectedCommand">
    <p><strong>Motif:</strong> {{ selectedCommand.reason }}</p>
    <p><strong>Commentaire:</strong> {{ selectedCommand.comment }}</p>
    <p><strong>Statut:</strong> 
        <p-tag
               [value]="selectedCommand.statusName!" 
               [rounded]="true" 
               [severity]="getSelectedComandSeverity()">
        </p-tag>
    </p>

    <h5 class="mt-3">Articles</h5>
    <p-table *ngIf="selectedCommand.articles?.length; else noArticles" [value]="selectedCommand.articles!" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="5">
      <ng-template #header>
        <tr>
          <th class="w-1/6">Nom de l'article</th>
          <th class="w-1/6">Description de l'article</th>
          <th class="w-1/6">Quantité</th>
          <th class="w-1/6">Type d'article</th>
        </tr>
      </ng-template>

      <ng-template #body let-article>
        <tr>
          <td>{{ article.name }}</td>
          <td>{{ article.description }}</td>
          <td>{{ article.quantity }}</td>
          <td>
            <p-tag 
               [value]="article.articleTypeName" 
               [rounded]="true" 
               >
            </p-tag>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template #noArticles>
      <p>No articles found.</p>
    </ng-template> 
  </div>
</p-dialog>
</div>


